<ul class="schedule">
	<li ng-repeat="show in schedule">
		<span class="show-start-time">{{show.startTime | showStart}}</span>
		<span class="show-title">{{show.title}}</span>
		<span class="show-original-title" ng-show="show.originalTitle">{{show.originalTitle}}</span>
		<span class="show-series text-info" ng-show="showSeries && show.series.series && show.series.episode">(S{{show.series.series}}E{{show.series.episode}})</span>
		<span class="show-aspect-ratio text-info" ng-show="show.aspectRatio && showAspectRatio">{{show.aspectRatio | aspectRatio}}</span>
		<span class="show-duration text-info" ng-show="showLength">{{show.duration | duration}}</span>
		<span class="show-live text-success" ng-show="show.live">{{show.live | isLive}}</span>
		<span class="show-description" ng-show="show.description"><a title="Sjá lýsingu á {{show.title}}" class="btn btn-sm btn-see-more btn-default" data-toggle="collapse" data-target="#show-desc-{{$index}}">+</a></span>
		<div class="collapse show-desc-collapse" id="show-desc-{{$index}}">
			<p>{{show.description}}</p>
		</div>
	</li>
</ul>